img{
    position: absolute;
    top: -8px;
    left: -8px;
}
.tag {
float: left;
position: absolute;
top: 10;
left: 10;
z-index: 1000;
border: 5px solid rgb(37, 107, 60);
font-weight: bold;
height: 50px;
width: 50px;
}